src/*.output
src/*.tab.hpp
src/*.tab.cpp
src/*.o
src/*.yy.cpp
bin/*
c_translator/formative/*
simple_compiler_tester/simple_compilation_test.sh

Vagrantfile

ubuntu-xenial-16.04-cloudimg-console.log

tmp/*

.vscode/
simple_compiler_tester/*.o
simple_compiler_tester/*.s
simple_compiler_tester/test_program
